/* ++++++ Globale Einstellungen ++++++ */
* {
    margin: 0;
    padding: 0;
}


body {
    max-width: 1440px;
    background-image: url("https://cdn.pixabay.com/photo/2013/07/18/10/56/fall-163496_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

/* ++++++ Globale Einstellungen ++++++ */



form {
    border: 5px solid yellowgreen;
    background-color: rgb(12, 12, 12);
    border-radius: 3px;
    width: 55%;
    margin: 15% 0% 15% 25%;
    color: white;
    font-size: 2rem;
    box-shadow: 0 0 250px rgb(199, 202, 20);
}

div {
    padding: 9px 0 15px 30px;
    font-size: 1rem;
}

button {
    background-color: rgb(110, 220, 20);
    border-radius: 7px;
    color: white;
    width: 450px;
    height: 40px;
    font-size: 1.5rem;
}

h1, h2 {
    color: beige;
}

.kirche {
    border-bottom: 3px solid white;
}

#steuerInput {
    color: green;
    font-weight: bold;
}

#churchInput {
    color: green;
    font-weight: bold;
}

#endResult {
    color: green;
    font-weight: bold;
}

.veranlagung {
    padding-right: 66px;
}

#church {
    padding: 1px 50px;
    background-color: rgb(37, 37, 37);
    color: white;
}

.kirchensteuer {
    padding-right: 109px;
}

#year {
    padding: 1px 50px;
    background-color: rgb(37, 37, 37);
    color: white;
}

.jahr {
    padding-right: 173px;
}

#taxIncome {
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 1px 0;
}